

#form {
  background: #fff;
  padding: 20px 35px 20px;
  max-width: 300px;
  margin: 40px auto 40px;
  box-shadow: 0 0 1em rgba(20, 20, 20, 0.719);
  border-radius: 10px;
  font-size: 10px;
}
#Heading {
    margin:0 0 50px 0;
    padding:10px;
    text-align:center;
    font-size:30px;
    color:darken(#e5e5e5, 50%);
    border-bottom:solid 1px #0a0a0a;
}
#p 
{
    margin: 0 0 3em 0;
    position: relative;
}
  
#Email,#password
{
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    margin:0;
}
#Email,#password 
{
    background: rgba(219, 218, 218, 0.342);
    border: 1px solid rgba(161, 161, 161, 0.534);
    font-size: 1.6em;
    padding: .8em .5em;
    border-radius: 5px;
}
  #Email:focus,#password:focus 
{
    background: rgb(255, 255, 255);
    
}
/* 
this is to add error msg 
span 
{
    display:block;
    background: #f88d8d;
    padding: 2px 5px;
    color: rgb(0, 0, 0);
} */
#submit 
{
    background-color: rgb(255, 1, 1) ;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 2em;
    line-height: 1.6em;
    margin: 2em 0 0;
    outline: none;
    padding: .8em 0;
    text-shadow: 0 1px #f16767;
}
  
#submit:hover 
{
    background: rgb(255, 1, 1);
    color: black;
    text-shadow:0 1px 3px darken(button, 30%);
    box-shadow: 0 0 0.2em rgba(20, 20, 20, 0.719); 
}

#Label
{
    position: absolute;
    left: 8px;
    color: rgb(87, 86, 86);
    font-size: 16px;
    display: inline-block;
    padding: 4px 10px;
    font-weight: 400;
    top: -20px;
    background-color: rgba(219, 218, 218, 0);
    font-size: 13px;
}
#text
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(219, 218, 218, 0.342);
    border: 1px solid rgba(161, 161, 161, 0.534);
    font-size: 1.9em;
    padding: .8em .5em;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

.google-icon{
    margin-top: 5px;
    margin-right: 2px;
    }
    

#text:hover
{
    box-shadow: 0 0 0.2em rgba(20, 20, 20, 0.719); 
}
