* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
#MainVedioContainer {
  /* border:2px solid green; */
  width: 100%;
  height: 100vh;
  margin-top: 58px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: absolute;
  right: 0;
  z-index: 20;
  overflow-y: scroll;
  overflow-y: overlay;
}
#InfoBox {
  border: 2px solid black;
  width: 100%;
  height: 10%;
}
#VedioContainer {
  /* border:2px solid red; */
  width: 100%;
  height: 100rem;
  display: flex;
  flex-wrap: wrap;
  padding-top: 9px;
  justify-content: center;
}

/* Transition Classes  */
.ToggleVideoSectionToLeft {
  transform: translateX(-0.3%);
  transition: transform 0.4s ease-in-out;
}

.ToggleVideoSectionToRight {
  transform: translateX(0%);
  transition: transform 0.4s ease-in-out;
}
