*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
#MainVedioContainer{
border:2px solid green;
width:85%;
height:100vh;
padding:10px;
display:flex;
flex-direction: column;
overflow:auto;
}
#InfoBox{
    border:2px solid black;
    width:100%;
    height:10%;
}
#VedioContainer{
    /* border:2px solid red; */
    width:100%;
    height:100rem; 
    display: flex;
    flex-wrap: wrap;
    padding-Top:9px;
    justify-content: center;
}